/*general style*/

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h4,
h5,
h6 {
    text-decoration: none;
    text-transform: uppercase;
}

body {
    background-color: #f3f8f2;
}

/*detail-page*/

.section1 {
    margin-top: 100px;
    padding: 10px;
}

.section1 .big-pict {
    background-color: #bea57d;
    padding: 10px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*detail cart*/

.section1 .mini-form {
    background-color: #ffffff;
    text-align: center;
}

.section1 .mini-form .tittle {
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}

.section1 .mini-form .amount-off {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}

.section1 .mini-form #angka {
    width: 50px;
    text-align: center;
    font-size: 25px;
}

.section1 .mini-form .quantity {
    margin: auto;
}

.quantity {
    position: relative;
    left: 65px;
    margin-left: 10px;
    display: flex;
    text-align: center;
}
/*
@media screen and (max-width:100px){
    .quantity{
        left: 20;
        position: relative;
        margin-left: 10px;
        display: flex;
        text-align: center;
        }
}
*/

.section1 .form-group {
    width: 150px;
    margin-top: 15px;
}

.section1 option {
    text-align: center;
}

.section1 .button-cart {
    padding: 5px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}



/*section 2*/

.section2 {
    margin-top: 30px;
    background-color: #bea57d;
    color: white;
    padding-bottom: 30px;
}

.section2 .tittle2 {
    padding: 50px 0 10px 0;
    letter-spacing: 4px;
    font-weight: 800;
}

.section2 .simple-des {
    margin-top: 50px;
}

.section2 h6 {
    font-weight: 500;
}

.section2 .kotak1 {
    padding-top: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.section2 .kotak2 {
    padding-top: 10px;
    border-bottom: 2px solid white;
}


/*category-page*/

.big-tittle {
    margin-top: 80px;
    color: #bea57d;
    letter-spacing: 5px;

}
.group{
    left: 60px
}
.mode {
    text-align: center;
    width: 150px;
    background-color: #ffffb3;
    border: 3px solid white;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 50px;
    padding-top: 5px;
    
}

.wrapper {
    position: relative;
    left: 80px;
    display: flex;
    text-align: center;
    padding: 10px;
}
.wrapper .card {
    
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.wrapper .card-body {
    height: 13rem;
}
.wrapper .card-body .fa-star{
  font-size: 20px;
  letter-spacing: -3px;
  color: #a39dff;
}
.wrapper .card-body i.fa-star .checked{
  color: #ffe900;
}

.container{
    margin-bottom: 50px;
}

/*look book*/
.slide{
    
    width: 100%;
    height: 700px;
    background: white no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    cursor: pointer;
}
.slide .slide-label{
    color: white;
    width: 100%;
    position: fixed;
    bottom:0;
    margin-bottom: 50px;
}
.slide .slide-label h1{
    font-size: 60px;
    letter-spacing: 1rem;
}
.slide .slide-label h6{
    font-size: 30px;
}
.gambarr{
  background-image: url(../picture/IMG_1053-2.jpg);
}
.gambarr2{
    background-image: url(../picture/fas2.jpg);
}
.gambarr3{
  background-image: url(../picture/fas3.jpeg);
}
.gambarr4{
  background-image: url(../picture/fas4.jpeg);
}
.gambarr5{
  background-image: url(../picture/fas5.jpeg);
}


