/*general style*/

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    text-transform: uppercase;
}

body {
    background-color: #f3f8f2;
}

/*detail-page*/
.bsell1{
    margin-top: 100px;
}
.card{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}
.card-title {
    font-weight: 700;
    color: #bea57d;
}
.harga{
    font-size: 25px;
}
.deskripsi{
    margin-top: 50px;
    text-align: center;
}

.deskripsi h5,h6{
    color: #bea57d;
    padding-top: 4px;
}
.deskripsi .box{
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: px;
}


/*category-page*/

.big-tittle {
    margin-top: 80px;
    color: #bea57d;
    letter-spacing: 5px;

}
.group{
    left: 60px
}
.mode {
    text-align: center;
    width: 150px;
    background-color: #ffffb3;
    border: 3px solid white;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 50px;
    padding-top: 5px;
    
}

.wrapper {
    position: relative;
    left: 80px;
    display: flex;
    text-align: center;
    padding: 10px;
}
.wrapper .card {
    
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.wrapper .card-body {
    height: 13rem;
}
.wrapper .card-body .fa-star{
  font-size: 20px;
  letter-spacing: -3px;
  color: #a39dff;
}
.wrapper .card-body i.fa-star .checked{
  color: #ffe900;
}

.container{
    margin-bottom: 50px;
}

/*look book*/
.slide{
    
    width: 100%;
    height: 700px;
    background: white no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    cursor: pointer;
}
.slide .slide-label{
    color: white;
    width: 100%;
    position: fixed;
    bottom:0;
    margin-bottom: 50px;
}
.slide .slide-label h1{
    font-size: 60px;
    letter-spacing: 1rem;
}
.slide .slide-label h6{
    font-size: 30px;
}
.gambarr{
  background-image: url(../picture/IMG_1053-2.jpg);
}
.gambarr2{
    background-image: url(../picture/fas2.jpg);
}
.gambarr3{
  background-image: url(../picture/fas3.jpeg);
}
.gambarr4{
  background-image: url(../picture/fas4.jpeg);
}
.gambarr5{
  background-image: url(../picture/fas5.jpeg);
}


